extends layout

block content
    h1= title
    p Welcome to our lyric database

    // Wrapper
    #wrapper

        // Lyric INFO
        #userInfo
            h2 Lyric Info
            p
                strong Artist:
                |  <span id='songArtist'></span>
                br
                strong Name:
                |  <span id='songName'></span>
                br
                strong Lyrics:
                |  <span id='songLyrics'></span>
                br
                strong URL:
                |  <span id='songURL'></span>
        // /USER INFO

        // USER LIST
        h2 Songs List
        #songList
            table
                thead
                    th Artist
                    th Name
                    th Delete?
                tbody
        // /Lyric LIST

        // ADD Lyric
        h2 Add Lyric
        #addLyrics
            fieldset
                input#inputSongArtist(type='text', placeholder='Artist')
                input#inputSongName(type='text', placeholder='Song Name')
                br
                input#inputSongLyrics(type='text', placeholder='Lyrics')
                input#inputSongURL(type='text', placeholder='URL')

                button#btnAddSong Add Song
        // /ADD USER

    // /WRAPPER